.card {
  background-color: pink;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.card img {
  margin: 0 auto;
  height: 20rem;
}
/* .cardQueenImageProp {
  margin: auto 0;
  width: 4rem;
} */
