.ViewAllQueensContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #fbd3e1;
  border: 0.5px solid #f06c9b;
  color: #30161f;
}
.queenNameInGrid {
  font-size: 1.15rem;
}

.btn {
  display: inline-block;
  background-color: #f598b9;
  color: #30161f;
  border-radius: 10px;
  border: none;
  height: 2rem;
  width: 6rem;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  transition: all 0.75s;
  z-index: 0;
}

.btn:hover {
  background-color: #fbd3e1;
  box-shadow: 0 5px 10px #f598b9;
  transition: all 0.75s;
  cursor: pointer;
}

.btn.test-completed::after,
.btn.test-completed::before {
  content: "Shantay";
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.75s;
  left: 0;
  line-height: 0.05rem;
}

.btn.btn.test-completed:hover::after {
  left: -6rem;
}

.btn.test-completed::before {
  content: "You Stay";
  left: 6rem;
}

.btn.btn.test-completed:hover::before {
  left: 0;
}
